

div{
    width: 100px;
    height: 100px;
 background-color: rgb(213, 213, 33);
 margin-left: 710px;
 margin-top: 30px;
}
.d2{
    width: 100px;
    height: 100px;
 background-color: rgb(29, 158, 68);
 margin-left: 610px;
 margin-top: -0px;
}

.d3
{
    width: 100px;
    height: 100px;
 background-color: rgb(46, 232, 228);
 margin-left: 810px;
 margin-top: -100px;

}
.d4
{
    width: 100px;
    height: 100px;
 background-color: rgb(59, 10, 195);
 margin-left: 910px;
 margin-top: -0px;
 

}

.d5
{
    width: 100px;
    height: 100px;
 background-color: rgb(3, 41, 14);
 margin-left: 510px;
 margin-top: -100px;
  
}
.d6
{
    width: 100px;
    height: 100px;
 background-color: rgb(29, 81, 158);
 margin-top: -200px;
}
.d7{
    width: 100px;
    height: 100px;
 background-color: rgb(172, 32, 58);
 margin-top: -0px;
}

.d8
{
    width: 100px;
    height: 100px;
 background-color: rgb(151, 172, 32);
 margin-top: -100px;
 margin-left: 610px;
}
.d9{
    width: 100px;
    height: 100px;
 background-color: rgb(32, 172, 139);
 margin-top: -100px; 
 margin-left: 810px; 
}
.d10{
    width: 100px;
    height: 100px;
 background-color: rgb(231, 89, 167);
 margin-top: -0px;
}
.d11{
    width: 100px;
    height: 100px;
 background-color: rgb(95, 138, 51); 
 margin-top: -100px;
 margin-left: 810px;
}
.d12
{
    width: 100px;
    height: 100px;
 background-color: rgb(39, 205, 189); 
 margin-top: -100px;
 margin-left:910px;
}
.d13{
    width: 100px;
    height: 100px;
 background-color: rgb(162, 0, 255); 
 margin-top: -100px;
 margin-left:610px;
}
.d14{
    width: 100px;
    height: 100px;
 background-color: rgb(22, 113, 67); 
 margin-top: -100px;
 margin-left:510px;
}

.d15
{
    width: 100px;
    height: 100px;
 background-color: rgb(156, 165, 68); 
 margin-top: -100px;
 margin-left:410px; 
}

.d16{
    width: 100px;
    height: 100px;
 background-color: rgb(191, 14, 132); 
 margin-top: -100px;
 margin-left:1010px;   
}